{
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "indentation": 4,
        "declaration-bang-space-before": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-block-semicolon-newline-after": "always",
        "block-opening-brace-space-before": "always",
        "string-quotes": "single",
        "no-invalid-double-slash-comments": true,

        "order/order": [
            "custom-properties",
            "dollar-variables",
            "declarations",
            "at-rules",
            "rules"
        ],
        "order/properties-order": [
            "content",
            "position",
            "top",
            "right",
            "bottom",
            "left",
            "z-index",
            "display",
            "flex-direction",
            "flex-wrap",
            "align-items",
            "justify-content",
            "align-self",
            "flex",
            "flex-shrink",
            "flex-grow",
            "size",
            "min-width",
            "width",
            "max-width",
            "min-height",
            "height",
            "max-height",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "background",
            "background-color",
            "border",
            "border-top",
            "border-right",
            "border-bottom",
            "border-left",
            "border-radius",
            "margin",
            "margin-top",
            "margin-left",
            "margin-bottom",
            "margin-right",
            "color",
            "text",
            "font-family",
            "font-size",
            "font-weight",
            "opacity",
            "pointer-events",
            "user-select",
            "cursor",
            "overflow",
            "overflow-x",
            "overflow-y",
            "transform",
            "transition",
        ],
    }
}
