@import 'breakpoints';

// Color
$color-screamin-green: #68ff93;
$color-alto: #dedede;

// Norway flag colors
$color-flag-red: #f22823;
$color-flag-blue: #002669;


$color-accent-start: $color-flag-blue;
$color-border: $color-alto;

$color-bg-card-male: #c5e8ff;
$color-bg-card-female: #ffd1d9;
$color-bg-card-neuter: #fff8c2;
$color-bg-card-without-article: #000;

// Dimensions
$grid-width: 700px;
$header-footer-height: 50px;


// Z-indexes
$z-id-confirm-dialog: 999;
$z-id-modal: 9999;
