@import 'breakpoints';

// Color
$color-screamin-green: #68ff93;
$color-alto: #dedede;

// Norway flag colors
$color-flag-red: #f22823;
$color-flag-blue: #002669;


$color-accent-start: $color-flag-blue;

$color-male: #c5e8ff;
$color-female: #ffd1d9;
$color-neuter: #fff8c2;


// Dimensions
$header-footer-height: 50px;
